/*! project specific CSS goes here. */
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
}

body {
    padding-bottom: 30px;
    background-image: url(../img/background.gif);
}

body > .container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.brand img {
    height: 20px;
    vertical-align: bottom;
}

#logo-hero {
    display: block;
    margin: 0 auto;
    width: 585px;
    height: 314px;
}

.required {
    font-weight: bold;
}

.required:after {
    content: "*";
}

.help-inline {
    font-style: italic;
}

th {
    text-align: right;
    width: 150px;
}

div.pagination {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
}

.review-author {
    line-height: 66%;
}

.spaceholder {
    height: 20px; /* The same as the spam-information div. */
}

.spam-information {
    opacity: 0.3;
    text-align: right;
}

.spam-information:hover {
    opacity: 1.0;
}
.spam-information.full-opacity {
    opacity: 1.0;
}

.review-date {
    font-style: italic;
    color: gray;
    font-size: smaller;
    text-align: right;
}

/* Customizing Bootstrap */
/* Red icons with optional class, or on hover/focus/active states of certain elements */
.icon-red {
  background-image: url("../img/glyphicons-halflings-red.png");
}
