/*! project specific CSS goes here. */
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
}

body {
    padding-bottom: 30px;
    background-image: url(../img/background.gif);
}

body > .container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.required {
    font-weight: bold;
}

.required:after {
    content: "*";
}

.help-inline {
    font-style: italic;
}

th {
    text-align: right;
    width: 150px;
}

div.pagination {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
}
