{% load phobias %}
{% csrf_token %}
{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-error">{{ error }}</div>
  {% endfor %}
{% endif %}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
<div class="control-group{% if field.errors %} error{% endif %}" id="{{field.name}}_control_group">
  <label class="control-label{% if field.field.required %} required{% endif %}" for="{{ field.html_name }}">{{ field.label }}</label>
  <div class="controls">
    {% if forloop.first %}
      {{ field|autofocus }}
    {% else %}
      {{ field }}
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% if field.help_text %}
      <span class="help-inline">{{ field.help_text }}</span>
    {% endif %}
  </div>
</div>
{% endfor %}
