{% load staticfiles compressed %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Are there spiders?{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This site tells you if there are spiders in various media.">

    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Le styles -->
    {% compressed_css 'all' %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Use this to quickly test CSS changes in a template, then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- BEGIN RESPONSIVE JOY This makes the navbar expandable on small screens -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- END RESPONSIVE JOY -->
          <a class="brand" href="/"><img src="{% static 'img/logo.png' %}" alt="Logo" /> Are there spiders?</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'phobias:collection' kind='book' %}">List of media</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'phobias:new' %}">New</a></li>
              <li><a href="#">{{ user.username }}</a></li>
              <li><a href="{% url 'auth_logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'auth_login' %}{{ login_next }}">Login</a></li>
              <li><a href="{% url 'registration_register' %}">Sign up</a></li>
              {% endif %}
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">admin</a></li>
              {% endif %}
            </ul>
            <form class="navbar-search pull-right" method="get" action="{% url 'phobias:search' %}">
              <input type="search" class="search-query" placeholder="Search" name='q'>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>{% block page_title %}Are there spiders?{% endblock page_title %}</h1>

      {% block content %}
      <p>
        I'm afraid of spiders. The sight of one on screen can trigger a panic response in me, even if its role in a movie or other media is fairly innocuous. The worst is when I'm not expecting it&mdash;when I don't see it coming.
      </p>
      <p>
        This site is a resource for others with arachnophobia. When you watch a movie, read a book, or play a video game, take a second to record a spider report here. Others with arachnophobia will be able to look it up and make an informed decision about whether they feel ready to handle it.
      </p>
      <p>
        It's worth noting that arachnophobia is said to be easily curable (source containing a cartoon picture of webs <a href="http://www.mentalhealthy.co.uk/anxiety/phobias/arachnophobia-quick-facts.html">here</a>). Regardless, while the phobia remains, let's help keep one another informed of triggers.
      </p>
      <p>
        Sincerely,<br>
        Joe Mcdaldno
      </p>

      {% endblock content %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% compressed_js 'all' %}

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
