{% load staticfiles compressed %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Are there spiders?{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% compressed_css 'all' %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Are there spiders?</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'phobias:collection' kind='book' %}">List of media</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'phobias:new' %}">New</a></li>
              <li><a href="#">{{ user.username }}</a></li>
              <li><a href="{% url 'auth_logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'auth_login' %}{{ login_next }}">Login</a></li>
              <li><a href="{% url 'registration_register' %}">Sign up</a></li>
              {% endif %}
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">admin</a></li>
              {% endif %}
            </ul>
            <form class="navbar-search pull-right" method="get" action="{% url 'phobias:search' %}">
              <input type="text" class="search-query" placeholder="Search" name='q'>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>{% block page_title %}Are there spiders?{% endblock page_title %}</h1>

      {% block content %}
      <p>
        And as if the now tested reality of his might had in former legendary
        times thrown its shadow before it; we find some book
        naturalists&mdash;Olassen and Povelson&mdash;declaring the Sperm Whale
        not only to be a consternation to every other creature in the sea, but
        also to be so incredibly ferocious as continually to be athirst for
        human blood. Nor even down to so late a time as Cuvier's, were these
        or almost similar impressions effaced. For in his Natural History, the
        Baron himself affirms that at sight of the Sperm Whale, all fish
        (sharks included) are "struck with the most lively terrors," and
        "often in the precipitancy of their flight dash themselves against the
        rocks with such violence as to cause instantaneous death." And however
        the general experiences in the fishery may amend such reports as
        these; yet in their full terribleness, even to the bloodthirsty item
        of Povelson, the superstitious belief in them is, in some vicissitudes
        of their vocation, revived in the minds of the hunters.
      </p>
      <p>
        So that overawed by the rumors and portents concerning him, not a few
        of the fishermen recalled, in reference to Moby Dick, the earlier days
        of the Sperm Whale fishery, when it was oftentimes hard to induce long
        practised Right whalemen to embark in the perils of this new and
        daring warfare; such men protesting that although other leviathans
        might be hopefully pursued, yet to chase and point lance at such an
        apparition as the Sperm Whale was not for mortal man. That to attempt
        it, would be inevitably to be torn into a quick eternity. On this
        head, there are some remarkable documents that may be consulted.
      </p>
      <p>
        Nevertheless, some there were, who even in the face of these things
        were ready to give chase to Moby Dick; and a still greater number who,
        chancing only to hear of him distantly and vaguely, without the
        specific details of any certain calamity, and without superstitious
        accompaniments, were sufficiently hardy not to flee from the battle if
        offered.
      </p>
      <p>
        One of the wild suggestions referred to, as at last coming to be
        linked with the White Whale in the minds of the superstitiously
        inclined, was the unearthly conceit that Moby Dick was ubiquitous;
        that he had actually been encountered in opposite latitudes at one and
        the same instant of time.
      </p>

      {% endblock content %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% compressed_js 'all' %}

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
