{% load markup humanize %}
<div class="review well" id="{{ review.pk }}">
  <div class="row-fluid">
    <div class="span8">
      <h2 class="review-author">{{ review.user.username }} says</h2>
    </div>
    <div class="span4">
      {% if user.is_authenticated and review.user != user %}
      <div class="spam-information{% if user in review.flagged_by.all %} full-opacity{% endif %}">
        {% if review.flagged_count > 0 %}
          {{ review.flagged_count }}
        {% endif %}
        <a class="flag-as-spam" href="{% url 'phobias:flag' pk=review.pk %}" title="Flag review">
          <i class="icon-flag{% if user in review.flagged_by.all %} icon-red{% endif %}"></i>
        </a>
      </div>
      {% else %}
      <div class="spaceholder"></div>
      {% endif %}
      <div class="review-date">
        Created {{ review.created|naturaltime }}{% if review.created != review.updated %}, last edited {{ review.updated|naturaltime }}{% endif %}.
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      {% if artwork.kind == 'show' %}
        {% if review.season %}
          <tr>
            <th>Season:</th>
            <td>{{ review.season }}</td>
          </tr>
        {% endif %}
        {% if review.episode %}
          <tr>
            <th>Episode:</th>
            <td>{{ review.episode }}</td>
          </tr>
        {% endif %}
      {% endif %}
      <tr>
        <th>Spider quantity:</th>
        <td>{{ review.get_spider_quantity_display }}</td>
      </tr>
      <tr>
        <th>Spider quality:</th>
        <td>
          {% for tag in review.spider_quality.all %}
          <a href="#" class="label label-info">{{ tag }}</a>{% if not forloop.last %}&nbsp;{% endif %}
          {% empty %}
          no tags
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  <div id="summary">{{ review.summary|markdown }}</div>
  {% if review.user == user %}
  <div id="edit-delete" class="btn-group pull-right">
    <a href="{% url 'phobias:edit' pk=review.pk %}" class="btn btn-small btn-primary">edit</a>
    <a href="{% url 'phobias:delete' pk=review.pk %}" class="btn btn-small btn-danger">delete</a>
  </div>
  {% endif %}
</div>
