{% extends "base.html" %}

{% load markup %}

{% block title %}{{ review }}{% endblock %}

{% block page_title %}{{ review }}{% endblock page_title %}

{% block content %}
<table class="table">
  <tbody>
    <tr>
      <td>Media:</td>
      <td>{{ review.artwork }}</td>
    </tr>
    <tr>
      <td>Spider quantity:</td>
      <td>{{ review.spider_quantity }}</td>
    </tr>
    <tr>
      <td>Spider quality:</td>
      <td>
        {% for tag in review.spider_quality.all %}
        <a href="#" class="label label-info">{{ tag }}</a>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
<div id="summary">{{ review.summary|markdown }}</div>
{% if review.user == user %}
<div id="edit-delete">
  <a href="{% url 'phobias:edit' pk=review.pk %}" class="btn">edit</a>
  <a href="{% url 'phobias:delete' pk=review.pk %}" class="btn btn-danger">delete</a>
</div>
{% endif %}
{% endblock content %}
