{% extends "base.html" %}

{% load markup %}

{% block title %}Delete review{% endblock %}

{% block page_title %}Delete review{% endblock page_title %}

{% block content %}
<h1>Really?</h1>
<p>Are you sure you want to delete this review?</p>
<form class="form-horizontal" action="{% url 'phobias:delete' pk=review.pk %}" method="post">
  {% csrf_token %}
  <div class="control-group">
    <div class="controls pull-right">
      <button type="submit" class="btn btn-small btn-danger">delete</button>
    </div>
  </div>
</form>
{% endblock content %}
