{% extends "base.html" %}

{% load markup %}

{% block title %}Create/edit review{% endblock %}

{% block page_title %}Create/edit review{% endblock page_title %}

{% block content %}
<h1>Review something</h1>
<form class="form-horizontal" action="{% url 'phobias:new' %}" method="post">
  {% include "_horizontal_form.html" %}
  <div class="control-group">
    <div class="controls pull-right">
      <button type="submit" class="btn btn-small btn-primary">submit</button>
    </div>
  </div>
</form>
{% endblock content %}
