{% extends "base.html" %}

{% block title %}Password reset confirm{% endblock %}

{% block page_title %}Password reset confirm{% endblock page_title %}

{% block content %}
{% if validlink %}
<form class="form-horizontal" action="" method="post">
  {% include "_horizontal_form.html" %}
  <div class="control-group">
    <div class="controls pull-right">
      <button type="submit" class="btn btn-small btn-primary">reset</button>
    </div>
  </div>
</form>
{% else %}
<p>Sorry, that link is invalid.</p>
{% endif %}
{% endblock content %}

